version: "2.4"
services:
  frontend:
    image: youworld/docker-frontend
    container_name: frontend
    volumes:
      - /app/node_modules
      - ./frontend:/app
    stdin_open: true
    mem_limit: 128m

  nginx:
    restart: always
    image: youworld/docker-nginx
    ports:
      - "80:80"
    mem_limit: 128m
    links:
      - frontend
      - backend

  backend:
    image: youworld/docker-backend
    container_name: backend
    volumes:
      - /app/node_modules
      - ./backend:/app
    mem_limit: 128m
    environment:
      MYSQL_HOST: $MYSQL_HOST 
      MYSQL_USER: $MYSQL_USER 
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
      MYSQL_DATABASE: $MYSQL_DATABASE
      MYSQL_PORT: $MYSQL_PORT

networks:
    app-network:
        driver: bridge  